:root {
    --color-white: #fff;

	--color-primary: #1b2f54;
	--color-btn-primary: #0d6fe3;
    --color-text-primary: #0042eb;
    --color-text-secondary: #4d5259;
    --color-infoblock-bg: #eff4fb;
    --color-tab-bg: #e7ebf3;
    --color-infoblock-opacity-bg: #eff4fbdd;

    --color-dark-blue: #334d6e;
	--color-gray: #90a0b7;
    --color-icon-gray: #c2cfe0;
    --color-bg-gray: #f5f6f8;
    --color-header-gray: #fefefe;
    --color-light-gray: #dfe6f0;

    --color-black: #192a3e;
    --color-table-black: #323c47;
    --color-table-gray: #707683;

    --color-red: #bd2130;
}

.color-white {
	color: #fff;
}

.color-primary {
	color: var(--color-primary);
}

.color-text-secondary {
    color: var(--color-text-secondary);
}

.color-dark-blue {
	color: var(--color-dark-blue);
}

.color-gray {
    color: var(--color-gray);
}

.color-icon-gray {
    color: var(--color-icon-gray);
}

.color-black {
    color: var(--color-black);
}

.color-table-black {
    color: var(--color-table-black);
}

.color-table-gray {
    color: var(--color-table-gray);
}

.color-red {
    color: var(--color-red);
}