.icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-xsmall {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-small {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-middle {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-big {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-xbig {
	display: inline-block;
	width: 3em;
	height: 3em;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-full {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

.login-icon {
	background-image: url(../resources/icons/log_in.svg);
}

.menu-icon {
	background-image: url(../resources/icons/menu.svg);
}

.search-icon {
	background-image: url(../resources/icons/search.svg);
}

.sliders-icon {
	background-image: url(../resources/icons/sliders.svg);
}

.right-icon {
	background-image: url(../resources/icons/right.svg);
}

.eye-on-icon {
	background-image: url(../resources/icons/eye-on.svg);
}

.message-icon {
	background-image: url(../resources/icons/message.svg);
}

.star-icon {
	background-image: url(../resources/icons/star.svg);
}

.blue-dot-icon {
	background-image: url(../resources/icons/blue-dot.svg);
}

.phone-icon {
	background-image: url(../resources/icons/phone.svg);
}

.vk-icon {
	background-image: url(../resources/icons/vk.svg);
}

.telegram-icon {
	background-image: url(../resources/icons/telegram.svg);
}

.instagram-icon {
	background-image: url(../resources/icons/instagram.svg);
}

.facebook-icon {
	background-image: url(../resources/icons/facebook.svg);
}

.whatsapp-icon {
	background-image: url(../resources/icons/whatsapp.svg);
}

.viber-icon {
	background-image: url(../resources/icons/viber.svg);
}

.youtube-icon {
	background-image: url(../resources/icons/youtube.svg);
}

.left-arrow-icon {
	background-image: url(../resources/icons/left-arrow.svg);
}

.right-arrow-icon {
	background-image: url(../resources/icons/right-arrow.svg);
}

.three-dots-icon {
	background-image: url(../resources/icons/three_dots.svg);
}

.plus-icon {
	background-image: url(../resources/icons/plus.svg);
}

.edit-icon {
	background-image: url(../resources/icons/edit.svg);
}

.delete-icon {
	background-image: url(../resources/icons/delete.svg);
}

.accept-icon {
	background-image: url(../resources/icons/accept.svg);
}

.instagram-colored-icon {
	background-image: url(../resources/icons/instagram_colored.svg);
}

.google-colored-icon {
	background-image: url(../resources/icons/google_colored.svg);
}

.vk-colored-icon {
	background-image: url(../resources/icons/vk_colored.svg);
}

.gosuslugi-colored-icon {
	background-image: url(../resources/icons/gosuslugi_colored.png);
}

.twitter-colored-icon {
	background-image: url(../resources/icons/twitter_colored.svg);
}

.odnoklassniki-colored-icon {
	background-image: url(../resources/icons/odnoklassniki_colored.svg);
}

.time-stroke-icon {
	background-image: url(../resources/icons/time_stroke.svg);
}

/* account sidebar */
.side-main-icon {
	background-image: url(../resources/icons/sidebar/main-page.svg);
}

.side-elem.active .side-main-icon {
	background-image: url(../resources/icons/sidebar/main-page-selected.svg);
}

.side-messages-icon {
	background-image: url(../resources/icons/sidebar/message-page.svg);
}

.side-elem.active .side-messages-icon {
	background-image: url(../resources/icons/sidebar/message-page-selected.svg);
}

.side-calendar-icon {
	background-image: url(../resources/icons/sidebar/calendar-page.svg);
}

.side-elem.active .side-calendar-icon {
	background-image: url(../resources/icons/sidebar/calendar-page-selected.svg);
}

.side-money-icon {
	background-image: url(../resources/icons/sidebar/money-page.svg);
}

.side-elem.active .side-money-icon {
	background-image: url(../resources/icons/sidebar/money-page-selected.svg);
}

.side-chat-icon {
	background-image: url(../resources/icons/sidebar/chat-page.svg);
}

.side-elem.active .side-chat-icon {
	background-image: url(../resources/icons/sidebar/chat-page-selected.svg);
}

.side-documents-icon {
	background-image: url(../resources/icons/sidebar/documents-page.svg);
}

.side-elem.active .side-documents-icon {
	background-image: url(../resources/icons/sidebar/documents-page-selected.svg);
}

.side-book-icon {
	background-image: url(../resources/icons/sidebar/book-page.svg);
}

.side-elem.active .side-book-icon {
	background-image: url(../resources/icons/sidebar/book-page-selected.svg);
}

.side-blog-icon {
	background-image: url(../resources/icons/sidebar/blog-page.svg);
}

.side-elem.active .side-blog-icon {
	background-image: url(../resources/icons/sidebar/blog-page-selected.svg);
}

.side-favorite-icon {
	background-image: url(../resources/icons/sidebar/favorite-page.svg);
}

.side-elem.active .side-favorite-icon {
	background-image: url(../resources/icons/sidebar/favorite-page-selected.svg);
}

.side-chart-icon {
	background-image: url(../resources/icons/sidebar/chart-page.svg);
}

.side-elem.active .side-chart-icon {
	background-image: url(../resources/icons/sidebar/chart-page-selected.svg);
}

.side-settings-icon {
	background-image: url(../resources/icons/sidebar/settings-page.svg);
}

.side-elem.active .side-settings-icon {
	background-image: url(../resources/icons/sidebar/settings-page-selected.svg);
}

/* login icons */
.user-icon {
	background-image: url(../resources/icons/login/user.svg);
}

.key-icon {
	background-image: url(../resources/icons/login/key.svg);
}

.mail-icon {
	background-image: url(../resources/icons/login/mail.svg);
}

/* checkboxes */
@keyframes animTouch {
	0% {transform: scale(1.0);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1.0);}
}

.icon-checkbox {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.icon-checkbox + span {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-checkbox:checked + span {
	animation: animTouch 0.2s ease forwards;
}

.like-checkbox + span {
	background-image: url(../resources/icons/like.svg);
}

.like-checkbox:checked + span {
	background-image: url(../resources/icons/like-checked.svg);
}

.like-checkbox-white + span {
	background-image: url(../resources/icons/like.svg);
}

.like-checkbox-white:checked + span {
	background-image: url(../resources/icons/like-white.svg);
}

.bookmark-checkbox + span {
	background-image: url(../resources/icons/bookmark.svg);
}

.bookmark-checkbox:checked + span {
	background-image: url(../resources/icons/bookmark-checked.svg);
}

/* dots */
.light-blue-dot {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #2f80ed;
}

.orange-dot {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #f17070;
}

.green-dot {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #219653;
}
